# turn on the rewrite engine
RewriteEngine on

# if cached file exists, use it
# RewriteCond %{REQUEST_FILENAME}  -f
# RewriteRule  ^(.+) $1  [L]

# else implement cargo-mirror
RewriteRule ^(.*)$ .mirror/mirror.php?f=$1 [QSA,L]